:root{
--text-color: black;
--h1-text-color: black;
--h2--text-color: black;
--h3--text-color: #444444;
--background-color: #eee;

@media (min-width:650px) {
    .text__links {
        display: block;
    }
}

}