.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 30px 15px;
}

.logo__container {
    position: relative;
    z-index: 10;
}
.text__links {
    display: none;
}

@media (min-width: 9650px) {
    .burger-container{
        display: none;
    }

    .text__links {
        display: block;
    }

       .text-link {
        text-decoration: none;
        color: var(--text-color);
        padding: 0px 0px 5px;
        font-weight: 600;
    }
}